# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
/Exam/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
/build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test/Report outputs
/surefire-reports/
/failsafe-reports/

# Spring Boot
*.pid

# Env
.env

